img {
    width: 100%;
    height: auto;
    }

.card {
        background-image: 'assets/demo/images/banner.jpg';
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }